<% # TODO: use AJAX to rerender with errors %>
<div class='alert alert-danger'>
    <% # too muhc logic for view %>
    <ul>
        <% @tag.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
</div>