
        <table class='table table-striped mt-4' id='contributors'>
                <thead>
                        <th scope='col'>Name</th>
                        <th scope='col'>Surname</th> 
                        <th scope='col'>Delete</th>
                </thead>
                <tbody>    
                       <% # tutaj beda renderowane %>
                </tbody>
        </table>

<% # form_tag problems_add_collaborator_path, method: :get, remote: true,  class: 'form-control'  do %>
    <%# select_tag(:user_id, options_for_select(@users.map{|d|[d.name, d.surname, d.id]}), class: 'form-control') %>
    <%# submit_tag 'Add', class: 'btn btn-outline-success my-2 my-sm-0' %>
<% #end %>