<div style="background:transparent !important" class="jumbotron">

  
          <div class="container commentSection">
              <h2 class="text-center">Comment Section</h2>
            <% unless comments.nil? %>
              <div class="commentSection-comments">
                <% comments.each do |comment| %>
                  <%= render 'problems/comment', comment: comment %>
                <% end %>
              </div>
            <% end %>
          </div>
   
</div>
