<div style="background:transparent !important" class="jumbotron">
	<div class="container">
		<% @problems.each do |problem| %>
			<% if problem.status? %>
	      <li class='list-group-item'><%= render 'problems/partials/single_result', problem: problem %></li>
		     <br />
	     <% end %>
    <% end %>
	</div>
</div>