
<div class="jumbotron">
<div class="container">

	 <% @problems.each do |problem| %>
         <li class='list-group-item'><%= render 'single_result', problem: problem %></li>
        <br />
    <% end %>
</div>
</div>