<div class='container'>
    <% if @problems.empty? %>
        <ul class='list-group'>
            <li class='list-group-item'>No problmes were found</li>
        </ul>
    <% else %>
        <ul class='list-group'>
            <% @problems.each do |problem| %>
                    <li class='list-group-item'><%= problem.content%></li>
                <hr />
            <% end %>
        </ul>
    <% end %>    
</div>