<div class="user_index">
  <div class="jumbotron">
  	<div class="container">
      <%= will_paginate @users, class: 'digg_pagination' %>
  		  <% @users.each do |user| %>
  			  <ul class="list-group">
            <%= render 'users/partials/user', user: user %>
  		    </ul>
  		  <% end %>
  	</div>
  </div>
</div>