<div style="background:transparent !important" class="jumbotron">
	<div class="container">
	<%= will_paginate @users, class: 'digg_pagination' %>
		<% @users.each do |user| %>
			<ul class="list-group" style="padding-bottom: 25px;">
		  		<%= render 'user', user: user %>

		  	</ul>
		<% end %>
	</div>
</div>