<div style="background:transparent !important" class="jumbotron">
    <h2 class="text-center">Comment Section</h2>
    <div class="commentSection-comments">
      <% comments.each do |comment| %>
        <%= render 'problems/partials/comment', comment: comment %>
      <% end %>
    </div>
</div>
