<div class="row">
  <div class="col-xs-10 col-md-11">
    <div>
      <h4> <%= link_to problem.title, problem_path(id: problem.id) %> </h4>
      <div class="mic-info">
        Author: <%= link_to "#{problem.creator.name} #{problem.creator.surname}", user_path(id: problem.creator.id )   %>
        <br>
        Created at: <%= localize(problem.created_at, :format => :long) %>
        <br>
        </div>
    </div>
      <br>
      <div class="action">
        <%= link_to 'Show more information', problem_path(id: problem.id), type: 'button' , class: 'btn btn-primary' %>
      </div>
  </div>
</div>