<!-- <div class ='jumbotron text-center'><h1> Welcome on Binar::Stack </h1></div> -->
<div class="jumbotron  text-center">
  <div class="container">
    <p>
  	  <%= image_tag("binlogo.png", class: "img-responsive center-block") %>
    </p>

      <%= form_tag problem_search_path, method: :get do %>
        <%= text_field_tag :lookup, nil, placeholder: "Please, tell me your problem", class: 'form-control ' %>
          <%= submit_tag 'Search',  class: 'btn btn-success' %>
      <% end %>
  
  </div>
</div>