<!-- <div class ='jumbotron text-center'><h1> Welcome on Binar::Stack </h1></div> -->
<div class="jumbotron  text-center">
<div class="container">
  <p>
  	<%= image_tag("binlogo.png", class: "img-responsive center-block") %>
  </p>

    <!-- <%= form_tag nil, method: :get, class: 'form-inline  my-lg' do %> -->
       <%= text_field_tag :lookup, nil, placeholder: "Please, tell me your problem", class: 'form-control ' %>
   <!-- <% end %> -->
</div>
</div>