<div style="background:transparent !important" class="jumbotron text-center">
  <div class="container">
    <p>
  	  <%= image_tag("binlogo.png", class: "img-responsive center-block") %>
    </p>

      <%= form_tag problem_search_path, method: :get do %>
        <%= text_field_tag :lookup, nil, placeholder: "Please, tell me your problem", class: 'form-control ' %>
        <br>
          <%= submit_tag 'Search',name: nil, class: 'btn btn-success' %>
      <% end %>
  
  </div>
</div>