<div style="background:transparent !important" class="jumbotron text-center">
  <div class="container">
     <h3> Edit a profession </h3>
    <%= render '/professions/partials/form'%>
  </div>
</div>
