<div class="profession_edit">
  <div class="jumbotron">
    <div class="container">
      <div class="profession_errors"></div>
      <h3> Edit a profession </h3>
      <%= render '/professions/partials/form'%>
    </div>
  </div>
</div>
