<div class="profession_index">
  <div class="jumbotron">
    <div class='container'>
      <div class="profession_errors">
      </div>
      <h3> Create a profession </h3>
      <%= render '/professions/partials/form' %>
      <br><br>

      <div class="row mt-3">
        <div class="col">
          <h4>Name</h4>
        </div>
        <div class="col">
          <h4>Delete</h4>
        </div>
        <div class="col">
          <h4>Edit</h4>
        </div>
      </div>
      <hr/>

      <div class="profession_section">
        <% @professions.each do |profession| %>
          <%= render 'professions/partials/profession', profession: profession%>
        <% end %>
      </div>
    </div>
  </div>
</div>

