<div style="background:transparent !important" class="jumbotron text-center">
  <div class="container">
    <div class="tag_errors"></div>
    <h3> Edit a tag </h3>
    <%= render '/tags/partials/form'%>
  </div>
  <br>
</div>
