<div style="background:transparent !important" class="jumbotron text-center">
  <div class='container'>
    <% if @tag.errors.any? %>
        <%= render './tags/partials/form_errors' %>
    <% end %>
    <%= render './tags/partials/form'%>

    <br><br><br>

    <div class="row mt-3">
      <div class="col">
        Name
      </div>
      <div class="col">
        Delete
      </div>
    </div>
    <hr/>


    <% @tags.each do |tag| %>
      <%= render 'tags/partials/tag', tag: tag %>
    <% end %>

  </div>
</div>

