
.profession_index .jumbotron {
  background: transparent;
  text-align: center;
}

/* ---------------------------------------------------- */

.profession_edit .jumbotron {
  background: transparent;
  text-align: center;
}
