
.tag_index .jumbotron {
  background: transparent;
  text-align: center;
}

/* ---------------------------------------------------- */

.tag_edit .jumbotron {
  background: transparent;
  text-align: center;
}