
.user_index .jumbotron {
  background: transparent;
}

.user_index .container {
  width:600px;
}

.user_index .btn{
  width:80px;
  white-space: normal;
  margin-top:5px;
}

.user_index .banned_title{
  text-align: center;
  vertical-align: middle;
  color:red;
}

/* ---------------------------------------------------- */

.user_show .jumbotron {
  background: transparent;
}

.user_show .profile_part .card {
  width:700px;
  margin: 0 auto 0;
}

.problems_part {
  margin-top:100px;
}

.user_show .problems_part .card {
  width:1000px;
  margin: 0 auto 0;
  padding-top:20px;
  text-align: center;
}
